#top_bar {
  padding: 5px;
  background-color: #EEE;  
  margin-bottom: 1em;
}

#title {
  font-weight: bold;
}

#account_links {
  position: absolute;
  right: 10px;
  display: inline-block;
  list-style: none;
  margin: 0;
}

#account_links li {
  display: inline-block;
  padding-right: 10px;
}

#footer {
  margin-top: 6em;
}

.contexts {
  list-style: none;
  padding: 0;
}

.contexts li {
  display: inline
}

.contexts li a {
  font-size: 2em;
  color: white;
  text-decoration: none;
  background-color: orange;
}

#days li a {
  background-color: cyan;
}
